/* base styles */
* {
    margin: 0;
    font-family: "Quicksand";
    color: white;
    background-color: black;
}

.content{
    max-width: 2000px;
    margin: auto;
}

::-webkit-scrollbar{
    display:none;
}







